
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Admin Home-Index</h1>

<a asp-action="Index" asp-controller="EscapeRoom" asp-route-area="Admin" class="btn btn-success">Escape Rooms</a>

